@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@font-face {
  font-family: "bold";
  src: url("fonts/bold-regular.woff2") format("woff2"), url("fonts/bold-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brook";
  src: url("fonts/brook.woff2") format("woff2"), url("fonts/brook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  color: #43eb01;
  transition: all 0.4s ease;
}

::-webkit-scrollbar-thumb {
  background: #43eb01;
  border-radius: 4px;
  width: 4px;
  transition: all 0.4s ease;
}

::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 4px;
  width: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  user-select: none;
  height: auto;
  overflow-x: hidden;
  width: 100%;
  background: #171717;
}

html {
  background: #000000;
}

#header {
  background: #050505;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  animation: scale 1.5s ease;
  position: relative;
  display: block;
}

.color {
  color: #43eb01;
  transition: all 0.4s ease;
}

.header-content {
  height: 100vh;
  width: 100%;
  float: left;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
  font-family: raleway;
  font-weight: 400;
  letter-spacing: 1px;
  flex-direction: row;
  font-size: 50px;
  z-index: 1;
}

.globe-block {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #050505;
}

.globe-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hide SVG */
svg {
  position: fixed;
  top: 0;
  visibility: hidden;
}

.header-content-box {
  z-index: 50;
  height: auto;
  padding-left: 200px;
  width: auto;
  text-align: center;
}

.header-content .firstline {
  z-index: 50;
  font-weight: 700;
  font-family: bold;
  font-size: 65px;
}

.header-content .secondline {
  z-index: 50;
  font-size: 30px;
  font-family: bold;
  padding-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.button {
  margin: 40px 0px 40px 0px;
  padding: 10px;
}
.button div {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  padding: 15px 30px;
  transition: 0.2s;
  overflow: hidden;
}
.button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #171717;
  background: #43eb01;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 32px;
  font-family: bold;
  overflow: hidden;
  transition: 0.2s;
}
.button a:hover {
  color: #171717;
  background: #43eb01;
  box-shadow: 0 0 10px #2ea500, 0 0 40px #2ea500, 0 0 80px #2ea500;
  transition-delay: 0.1s;
}
.button div span {
  position: absolute;
  display: block;
}
.button div span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #43eb01);
  animation: moveLeft 2s linear infinite;
}
.button div span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #43eb01);
  animation: moveDown 2s linear infinite 1s;
}
.button div span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #43eb01);
  animation: moveRight 2s linear infinite 2s;
}
.button div span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #43eb01);
  animation: moveUp 2s linear infinite 3s;
}
@keyframes moveLeft {
  0% {
    left: -105%;
  }
  100% {
    left: 105%;
  }
}
@keyframes moveDown {
  0% {
    top: -105%;
  }
  100% {
    top: 105%;
  }
}
@keyframes moveRight {
  0% {
    right: -105%;
  }
  100% {
    right: 105%;
  }
}
@keyframes moveUp {
  0% {
    bottom: -105%;
  }
  100% {
    bottom: 105%;
  }
}

.slash {
  animation-name: animateslash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes animateslash {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@-webkit-keyframes animateslash {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.social-media-links {
  height: 100vh;
  position: absolute;
  z-index: 2;
  padding: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.social-media-links a {
  margin-bottom: 10px;
  margin-top: 10px;
}
.social-media-links i {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid;
  text-align: center;
  line-height: 30px;
  transition: all 0.3s;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
}

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #1b1b1b;
}
.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}
.pace.pace-inactive {
  display: none;
}

#preloader {
  width: 100%;
  height: 100vh;
  background: #050505;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: bold;
  font-size: 30px;
  color: rgb(245, 245, 245);
}

#breaker {
  background: #000000;
  position: fixed;
  height: 150vh;
  display: none;
  width: 100%;
  z-index: 11;
  transform: translateY(-100%);
  animation: breaker 2.5s;
}

@keyframes breaker {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.fa-youtube:hover {
  border-color: red;
  box-shadow: 0px 0px 30px red;
  color: red;
}

.fa-twitter:hover {
  border-color: #1da1f2;
  box-shadow: 0px 0px 30px #1da1f2;
  color: #1da1f2;
}

.fa-telegram:hover {
  border-color: #00c3ff;
  box-shadow: 0px 0px 30px #00c3ff;
  color: #00c3ff;
}
.fa-instagram:hover {
  border-color: #f700ff;
  box-shadow: 0px 0px 30px #f700ff;
  color: #f700ff;
}

/* Адаптация для ноутбуков (от 551px до 1025px) */
@media all and (max-width: 1208px) and (min-width: 725px) {
  .header-content {
    flex-direction: column;
    font-size: 40px;
    text-align: center;
  }
  .header-content-box {
    z-index: 50;
    position: absolute;
    padding-left: 0;
    order: 2;
  }
  .button a {
    font-size: 32px;
    padding: 8px 15px;
  }
  .globe-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
  }
}
/* Адаптация для планшетов */
@media all and (max-width: 725px) and (min-width: 481px) {
  .pace {
    width: 300px;
  }
  .pace .pace-progress {
    max-width: 300px;
  }
  .header-content {
    flex-direction: column;
    font-size: 30px;
    text-align: center;
  }
  .header-content-box {
    z-index: 50;
    position: absolute;
    padding-left: 0;
    order: 2;
  }
  .button a {
    font-size: 32px;
    padding: 8px 15px;
  }
  .globe-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
  }
  .social-media-links {
    z-index: 50;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social-media-links a {
    margin: 0 15px;
  }
  #preloader .p {
    font-size: 50px;
  }
}
/* Адаптация для мобильных устройств (меньше 481px) */
@media only screen and (max-width: 480px) {
  .pace {
    width: 300px;
  }
  .pace .pace-progress {
    max-width: 300px;
  }
  .header-content {
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    position: relative;
  }
  .header-content-box {
    z-index: 50;
    position: absolute;
    padding-left: 0;
    order: 2;
  }
  .button a {
    font-size: 18px;
    padding: 8px 15px;
  }
  .globe-wrapper {
    opacity: 0.2;
    z-index: 0;
  }
  .header-content {
    position: relative;
    z-index: 2;
  }
  .social-media-links {
    z-index: 50;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social-media-links a {
    margin: 0 10px;
  }
  #preloader .p {
    font-size: 50px;
  }
}

